* {
    box-sizing: border-box;
}

body,
html {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

header {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    /* background: url(background.jpg) center center; */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(background4.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

section {
    margin: 0px;
}

footer {
    text-align: center;
    background-color: #2b2b2b;
    margin: 0px;
}

p {
    font-family: 'Montserrat', sans-serif;
}

footer p {
    letter-spacing: 3px;
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 15px;
    margin: 0px;
}

footer p a {
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.titles {
    position: relative;
    text-align: center;
    top: 30%;
}

.contact {
    height: 600px;
    width: 100%;
    background: url("footer.jpg") center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

#home a {
    color: rgba(255, 255, 255, 1);
}

#about a {
    color: rgba(255, 255, 255, 0.9);
}

#contact a {
    color: rgba(255, 255, 255, 0.6);
}

#blog a {
    color: rgba(255, 255, 255, 0.5);
}

h1,
h3 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

h1 {
    font-size: 3rem;
    letter-spacing: 10px;
}

h3 {
    font-size: 1.3rem;
    letter-spacing: 15px;
    padding: 10px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #3b3b3b;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #2b2b2b;
    max-width: 100%;
}

ul {
    margin: 0px;
    width: 100%;
    text-align: center;
}

nav {
    margin-left: 0px;
    width: 100%;
}

li {
    padding: 30px 40px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
    list-style: none;
    display: inline-block;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
    color: white;
}

hr {
    height: 3px;
    background-color: #666666;
    margin: 25px 15px 15px 15px;
}

h1 span {
    padding: 7px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
}

img {
    max-width: 100%;
}

.col-6 {
    width: 50%;
    float: left;
}

.container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.socials {
    padding: 15px;
    text-align: center;
}

.socials a {
    color: #2b2b2b;
}

.socials i {
    padding: 5px 25px 5px 25px;
}


/*blog post layout*/

.blog h2 {
    padding: 25px 25px 0px 25px;
}

.blog h3 {
    color: white;
    display: block;
}


/*Responsive styles - layout*/

.about-picture {
    max-width: 50%;
    float: left;
    padding: 25px;
}

.about-text {
    text-align: left;
    max-width: 50%;
    float: left;
    padding: 25px;
}

.about-text p {
    line-height: 1.75rem;
}


/*Animated arrow that points to the next part of the webiste about me*/

.downArrow {
    color: white;
    margin-bottom: 50px;
    top: 45%;
    position: relative;
    text-align: center;
}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}

.burger-button {
    width: 100%;
    display: none;
    margin: 0px;
    top: 0px;
    right: 0px;
}

nav {
    padding: 0px;
    width: 100%;
    margin: 0px;
    z-index: 99999;
}

ul {
    width: 100%;
}

nav ul li {
    overflow: hidden;
}

nav ul li:hover a {
    position: relative;
    text-shadow: 0px 0px 6px #fff;
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    -ms-transition: all 0.6s linear;
    transition: all 0.6s linear;
}

.post-1 {
    max-width: 100%;
    padding: 10px;
    margin: 10px;
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(blog-post-one.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.post-2 {
    max-width: 100%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 15px;
    height: 242px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(blog-post-two.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.post-3 {
    max-width: 100%;
    margin: 10px;
    padding: 10px;
    height: 242px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(blog-post-three.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@media screen and (max-width:980px) {
    h1 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 0.9rem;
        line-height: 40px;
        letter-spacing: 10px;
    }
    h4 {
        font-size: 0.7rem;
        line-height: 20px;
    }
    #contact a {
        margin-left: 0px;
    }
    .burger-button {
        display: block;
        text-align: right;
        color: white;
    }
    .burger-button {
        padding: 10px 20px;
    }
    nav {
        display: none;
        position: absolute;
    }
    ul {
        width: 100%;
        background-color: #222222;
        padding-left: 0px;
    }
    li {
        border-bottom: 1px solid #111;
        display: block;
        padding: 17px;
    }
    .container h2 {
        font-size: 1rem;
    }
    .about-picture {
        max-width: 100%;
    }
    .about-text {
        max-width: 100%;
        text-align: center;
    }
    p {
        font-size: 0.8rem;
    }
    .col-6 {
        width: 100%;
        float: left;
    }
}

.active {
    display: block;
}